@charset "utf-8";
/* main.css */

#wrapper {
    position: relative;
    /* 
        문법의미: 하위태그들 가운데 position을 사용하는 태그들의 위치기준이 되도록 설정한다.
        사용이유/목적/결과: 헤더영역의 위치를 고정하기 위해 사용.
    */
    min-width: 1440px;
    /*
        문법의미: 최소사이즈 지정.
        사용이유/목적/결과: 안전사이즈 영역을 지정하기위해서 사용.
    */
    /* 
        - 본문 컨텐츠의 안전사이즈 : 1440px
        - wrapper의 기본 너비값은 body태그의 너비값에 의해 정해짐.
        - body태그의 너비값은 브라우저 폭에 의해 정해짐. 
        - 브라우저가 좁아질 경우 wrapper의 폭도 좁아지면서 컨텐츠의 정렬, 배경색, 테두리 등에 영향을 끼침.
        - 최소너비값을 지정해두면 브라우저 폭이 줄어들어도 wrapper의 너비값은 1440px로 고정
        - 브라우저의 폭이 늘어날때는 wrapper의 너비도 같이 늘어남.
    */
}

/* 탑 배너 */
#topBanner {
    position: relative;
    /* 
        문법의미: 하위태그들 가운데 position을 사용하는 태그들의 위치기준이 되도록 설정한다.
        사용이유/목적/결과: 탑배너영역안의 X버튼의 오른쪽상단에 고정하기위해 기준을 설정한다.
    */
    height: 40px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 탑배너영역의 높이가 40px가 되도록 설정한다.
    */
    background-color: #002053;
    /* 
        문법의미: 해당 태그의 배경의 색상을 지정한다.
        사용이유/목적/결과: 탑배너의 기본적인 배경색상을 #002053으로 변경한다.
    */
}
#topBanner .content a {
    display: block;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다. 
        사용이유/목적/결과: a태그의 경우 inline으로 표현이되는데 이럴경우 width/height설정이 안되는 부분이다.
                       그래서 block으로 변경하여 해당 영역의 width/height를 변경할 수 있도록 변경이 될 수 있도록 설정한다.
    */
    width: 600px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 탑배너의 가로너비 길이를 600px으로 설정한다.
    */
    margin-left: auto;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 왼쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 자동으로 설정 진행. 아래에 margin-right:auto와 세트로 사용을 하여 
                        화면사이즈가 변경이 되더라도 해당 영역이 화면 중앙에 배치가 될 수 있도록한다.
    */
    margin-right: auto;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 오른쪽영역 사이즈 변경한다.
        사용이유/목적/결과: auto로 지정을 하여 위에 margin-left와 세트로 사용을 하여 
                        화면사이즈가 변경이 되더라도 해당 영역이 화면 중앙에 배치가 될 수 있도록한다.
    */
    color: #fff;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 탑배너의 글자 색상을 #fff으로 변경한다.
                        a태그로 인하여 기본값으로 갖고 있는 생상이 있어 색상변경을 진행한다.
    */
    line-height: 40px;
    /* 
        문법의미: 줄간격 높이값 설정한다.
        사용이유/목적/결과: 줄간격높이를 40px사이즈로 변경 및 해당 줄의 중간으로 텍스트가 정렬이 되는 부분도 같이 적용한다.
    */
    text-align: center;
    /* 
        문법의미: 해당 영역의 텍스트 위치를 설정한다.
        사용이유/목적/결과: center로 정렬을 하여 탑배너 영역의 가운데에 텍스트가 표현되도록 진행.
    */
}
#topBanner .btnClose {
    position: absolute;
    top: 4px;
    right: 40px;
    /* 
        문법의미: 기준으로 설정한 상위태그(position:relative) 영역기준으로 특정 좌표를 지정하여 위치를 적용한다.
        사용이유/목적/결과: X버튼에 대해서 상단기준 4px, 우측기준 40px 위치에 위치하도록 적용.
    */
}
#topBanner .btnClose button {
    width: 32px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: x버튼의 가로길이가 32px이 되도록 설정.
    */
    height: 32px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: x버튼의 세로길이가 32px이 되도록 설정. 
    */
    border: 0;
    /* 
        문법의미: 테두리의 내용을 설정합니다.
        사용이유/목적/결과: 0으로 설정함으로 탑배너에 있는 x버튼의 테두리내용이 표현안되도록 변경.
    */
    text-indent: -99999px;
    /* 
        문법의미: 해당 영역안의 텍스트의 표현 위치를 변경합니다.
        사용이유/목적/결과: 버튼영역태그 안에 작성된 문구를 -99999px의 위치만큼 내어쓰게 하여 화면의 표현영역 밖으로 이동시킴으로 인해
                        작성된 텍스트가 표현이 안되도록 적용.
    */
    /* 
        공간은 그대로, 글자내용만 화면의 왼쪽으로 이동됨. 
        값을 크게 만들어 어떤 크기의 화면에서도 보이지 않게 만듬. 
    */
    background-color: transparent;
    /* 
        문법의미: 해당 태그의 배경의 색상을 지정한다.
        사용이유/목적/결과: x버튼 이미지의 배경색을 별도로 표현이 안될 수 있게 상위태그의 배경색으로 표현되도록 한다.
    */
    background-image: url(../img/btn_x_wh_32x32.png);
    /* 
        문법의미: 해당 태그영역의 배경이미지를 설정합니다.
        사용이유/목적/결과: 해당 영역의 배경이미지를 img폴더 안의 x버튼 이미지가 적용이 될 수 있도록 변경.
    */
}

/* 헤더 영역 */
#header {
    position: absolute;
    top: 40px;
    left: 0;
    /* 
        문법의미: 기준으로 설정한 상위태그(position:relative) 영역기준으로 특정 좌표를 지정하여 위치를 적용한다.
        사용이유/목적/결과: header영역을 상위영역태그 #wrapper 을 기준으로 
                       상단 40px, 왼쪽 0px위치를 기준으로 표현이 될 수 있도록 위치기준 변경.
    */
    display: flex;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: flex를 사용함으로 내용의 태그들을 한방향을 기준으로 정렬되어 표현이 되도록 정렬한다.
                        기본적으로 가로로 나열되도록 하며 방향은 왼쪽에서 오른쪽방향으로 정렬이 되도록 설정한다.
    */
    justify-content: space-between;
    /* 
        문법의미: display:flex 형식과 같이 사용되는 내용으로 flex방향으로 내용 표현 방법 변경한다.
        사용이유/목적/결과: space-between을 사용함으로 영역안에 있는 내용을 양쪽끝을 기준으로
                        영역안에 있는 내용들을 동일한 간격으로 배치하도록 변경한다.
                        logo이미지, navigation영역, icon영역을 동일한 간격으로 띄워지도록 변경한다.
    */
    align-items: center;
    /* 
        문법의미: display:flex 형식의 진행방향과 수직이 되는 방향으로 내용 표현 위치를 변경한다.
        사용이유/목적/결과: header영역에 대해 flex로 가로로 정렬되는 부분으로,
                        높이 변경으로 인하여 상단에 정렬이 되는 부분을 높이 중간위치에 태그 내용들이 정렬이 될 수 있도록 변경한다.
    */
    box-sizing: border-box;
    /* 
        문법의미: 해당 영역의 사이즈에 대해서 상위태그 사이즈를 받아올때 영역 기준을 어떻게 설정할지 정하는 내용.
        사용이유/목적/결과: 상위태그 border-box 값으로 지정함으로 
                        사이즈를 받아올때 테두리 전체를 기준으로 정하여
                        width값을 정할때 상위태그의 전체너비를 기준으로 진행하도록 설정.
    */
    /* 
        box-sizing은 width속성의 범위 기준을 결정하는 속성.

        {box-sizing: content-box;}
        width값의 범위가 여백과 테두리를 제외하고 실제 내용이 처리될 수 있는 공간을 가리킴.

        {box-sizing: border-box;}
        width값의 범위가 테두리 끝에서 끝까지로 인식됨. 
        너비값으로 지정된 범위 안에서 테두리와 여백이 표현되고, 컨텐츠는 테두리와 여백이 표현된 나머지 영역에 맞춰 작성됨.
    */
    width: 100%;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 상위태그의 너비값의 100%를 해당 태그의 너비로 지정.
    */
    height: 100px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 해당 헤더영역의 높이값을 100px로 설정.
    */
    padding-left: 40px;
    /* 
        문법의미: 해당 태그 영역의 안쪽들여쓰기공간 영역 중 왼쪽영역 사이즈 설정.
        사용이유/목적/결과: header영역의 왼쪽 들여쓰기 영역의 너비를 40px만큼 설정한다.
    */
    padding-right: 40px;
    /* 
        문법의미: 해당 태그 영역의 안쪽들여쓰기공간 영역 사이즈 설정.
        사용이유/목적/결과: header영역의 오른쪽 들여쓰기 공간을 40px만큼 설정한다.
    */
    z-index: 500;
    /* 
        문법의미: 해당 영역의 앞으로 나오는 표현에 대한 우선순위를 정한다.
        사용이유/목적/결과: 헤더영역에 대해서 앞으로 나오는 순서를 500만큼 우선 지정하여 먼저 표현이 될 수 있도록 설정한다.
    */
}
#header .logo a {
    display: block;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: a태그는 기본적으로 inline속성으로 되어 있어 너비/높이 값 설정이 안되는 부분입니다.
                        그래서 너비/높이 값 설정을 하기 위해서 표현방식을 변경이 되어야하는 부분이여서 block형태로 변경을 한다.
    */
    width: 100px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: header 로고의 a태그 영역의 너비를 100px으로 설정한다.
    */
    height: 32px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: header 로고의 a태그 영역 높이를 32px으로 설정한다.
    */
    text-indent: -999999px;
    /* 
        문법의미: 해당 영역안의 텍스트의 표현 위치를 변경합니다.
        사용이유/목적/결과: header의 로고영역의 a태그안의 설명 내용 텍스트의 위치를 안보이도록 하기 위해 -99999p로 지정하여 화면밖으로 이동시킨다.
    */
    background-image: url(../img/logo_wh.png);
    /* 
        문법의미: 해당 태그영역의 배경이미지를 설정합니다.
        사용이유/목적/결과: header영역에 있는 로고 이미지를 img폴더에서 배경화면으로 불러온다.
    */
}
.gnb {
    display: flex;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: flex를 사용함으로 내용의 태그들을 한방향을 기준으로 정렬되어 표현이 되도록 정렬한다.
                        기본적으로 가로로 나열되도록 하며 방향은 왼쪽에서 오른쪽방향으로 정렬이 되도록 설정한다.
                        gnb영역안에 있는 ul태그 2개의 내용이 나란히 표현이 되도록 설정한다.
    */
}
.gnb ul {
    display: flex;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: flex를 사용함으로 내용의 태그들을 한방향을 기준으로 정렬되어 표현이 되도록 정렬한다.
                        기본적으로 가로로 나열되도록 하며 방향은 왼쪽에서 오른쪽방향으로 정렬이 되도록 설정한다.
                        gnb 영역안에 있는 ul태그 속 li내용들이 가로로 표현되도록 수정.
    */
    gap: 32px;
    /* 
        문법의미: display:flex된 내용간의 간격 사이즈를 설정한다.
        사용이유/목적/결과: header영역 속에 나열된 navigation 내용들의 내용들간의 간격이 32px만큼 벌어지도록 설정한다.
    */
}

/* 
    화면을 장식하는 요소를 위해 html에 태그를 만들 수 있지만, html 입장에서보면 의미없는 태그가 만들어지는 것과 같음. 
    이때는 css에서 가상태그를 활용하면 됨. 

    블럭요소 태그는 2개의 가상태그를 가질 수 있음. 
    선택자::before => 선택자의 첫째 자식요소로 인식되는 가상태그
    선택자::after => 선택자의 막내 자식요소로 인식되는 가상태그

    가상태그를 사용하기위해서는 content속성이 필수로 있어야함.
    여기서는 공간만 필요한 상태니 content속성의 값을 공백처리함. 

    가상태그는 인라인요소의 성질을 가짐.
    공간을 처리하기위해 태그 성질을 block으로 처리해야함. 
    (여기서는 display속성을 지워도 공간을 표시해줌->flex의 영향때문임)
*/
.gnb .g1::after {
    content: "";
    /* 
        문법의미: 가상태그가 사용되기 위해 해당 가상태그 속 내용을 입력하는 부분이며, 가상태그 사용할때 반드시 입력이 되어야하는 속성이다.
        사용이유/목적/결과: 가상태그 사용을 위해 반드시 입력이 되는 속성이며, 
                        가상태그속에 표현되어야할 텍스트 내용이 없으므로 빈값으로 입력하여 사용합니다.
    */
    display: block;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: 가상태그 사용하였을때 기본내용은 inline으로 width/height속성을 사용하기 위해 사용합니다.
                        display:block 으로 사용을 하여 width/height 의 속성을 지정하여 사용할 수 있게 합니다.
    */
    width: 1px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 가상태그의 가로길이를 설정하는 부분으로 세로로 일자로된 구분자를 사용하는 부분이여서 1px만큼의 가로길이를 설정합니다.
    */
    height: 12px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 가상태그의 높이를 설정하는 부분으로 세로로 길게 표현되는 구분자 표현이여서
                        세로로 길게 표현하기 위해 12px만큼 표현이 되도록 설정합니다
    */
    margin-top: 7px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 위쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 가상태그의 테두리기준 상단영역을 7px만큼 있도록 설정합니다.
    */
    margin-right: 32px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 오른쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 가상태그의 테두리 기준 바깥 오른쪽 영역이 32px만큼 있도록 설정합니다.
    */
    background-color: #fff;
    /* 
        문법의미: 해당 태그의 배경의 색상을 지정한다.
        사용이유/목적/결과: 가상태그의 배경색상이 #fff(하얀색)으로 변경합니다.
    */
}
.gnb li a {
    font-size: 18px;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 사이즈를 설정합니다.
        사용이유/목적/결과: 헤더의 네비게이션 메뉴 영역의 텍스트 글자의 사이즈가 18px이 되도록 설정합니다.
    */
    font-weight: 700;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 굵기를 설정합니다.
        사용이유/목적/결과: 보통의 글자의 굵기가 400인 부분에 비해 큰 부분이여서 굵게 표현을 하기위해
                        700을 사용하여 글자를 굵게 표현을 합니다.
                        보통 글자의 굵기 설정은 100~900 사이로 100단위로 설정을 하며 
                            일반적으로 따로 설정하지 않은 글자 크기는 400의 값이 적용이 되어 있습니다.
    */
    color: #fff;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 헤더영역의 gnb영역의 글자의 색상을 #fff(하얀색) 으로 변경합니다.
    */
}
#header .icons ul {
    display: flex;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: flex를 사용함으로 내용의 태그들을 한방향을 기준으로 정렬되어 표현이 되도록 정렬한다.
                        기본적으로 가로로 나열되도록 하며 방향은 왼쪽에서 오른쪽방향으로 정렬이 되도록 설정한다.
                        icon들이 가로로 나열되어 표현이 되도록 하기 위해 사용합니다.
    */
}
#header .icons .cart {
    position: relative;
    /* 
        문법의미: 하위태그들 가운데 position을 사용하는 태그들의 위치기준이 되도록 설정한다.
        사용이유/목적/결과: 헤더들의 아이콘들 내용중 장바구니 영역에 대해서 장바구니에 담긴 숫자가 표현이 되는 영역의 기준을 잡기위해 사용합니다.
    */
}
#header .icons li a,
#header .icons li button {
    display: block;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: a태그, button태그의 경우 inline 속성이므로 
                        width/height 길이를 설정하기 위해서 표현 속성을 변경합니다.
    */
    width: 56px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 헤더영역에 있는 아이콘들의 가로길이를 56px으로 설정합니다.
    */
    height: 56px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 헤더영역에 있는 아이콘들의 세로길이를 56px으로 설정합니다.
    */
    text-indent: -99999px;
    /* 
        문법의미: 해당 영역안의 텍스트의 표현 위치를 변경합니다.
        사용이유/목적/결과: 이미지 영역 속에 설명을 적어둔 텍스트들에 대해서 안보이도록 하기 위해 
                        화면에 표현되는 영역 바깥쪽으로 이동되도록 하기 위해
                        -99999px만큼 들여써서 이동시킵니다.
    */
}
#header .icons .location a {
    background-image: url(../img/ico-store-wh-56x56.png);
    /* 
        문법의미: 해당 태그영역의 배경이미지를 설정합니다.
        사용이유/목적/결과: 매장위치 아이콘 영역의 배경이미지를 img폴더에서 가져와서 설정합니다.
    */
}
#header .icons .search button {
    border: 0;
    /* 
        문법의미: 테두리의 내용을 설정합니다.
        사용이유/목적/결과: 헤더의 검색창열기 버튼의 테두리가 안보이도록 하기 위해 설정합니다.
    */
    background-color: transparent;
    /* 
        문법의미: 해당 태그의 배경의 색상을 지정한다.
        사용이유/목적/결과: 검색창 열기 버튼의 배경색이 상위태그의 배경색과 동일하게 표현이 되도록 설정합니다.
    */
    background-image: url(../img/ico-search-wh-56x56.png);
    /* 
        문법의미: 해당 태그영역의 배경이미지를 설정합니다.
        사용이유/목적/결과: 버튼의 배경이미지를 img폴더에 있는 x버튼이미지를 가져와 설정합니다.
    */
}
#header .icons .login a {
    background-image: url(../img/ico-mypage-wh-56x56.png);
    /* 
        문법의미: 해당 태그영역의 배경이미지를 설정합니다.
        사용이유/목적/결과: img폴더 안에 있는 mypage 이미지로 설정합니다.
    */
}
#header .icons .cart a {
    background-image: url(../img/ico-cart-wh-56x56.png);
    /* 
        문법의미: 해당 태그영역의 배경이미지를 설정합니다.
        사용이유/목적/결과: img폴더 안에 있는 cart이미지를 가져와 설정합니다.
    */
}
#header .icons .cart .count {
    position: absolute;
    top: 8px;
    right: 8px;
    /* 
        문법의미: 기준으로 설정한 상위태그(position:relative) 영역기준으로 특정 좌표를 지정하여 위치를 적용한다.
        사용이유/목적/결과: 기준으로 설정된 장바구니 태그를 기준으로 테두리 상단으로부터 8px, 오른쪽 테두리 기준으로 8px 의 위치에 
                        장바구니 카운트 숫자 영역이 위치하도록 설정합니다.
    */
    display: block;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: 해당 영역의 태그가 span태그로 inline 속성을 가지고 있는 태그입니다.
    */
    width: 20px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 장바구니 숫자카운트 영역의 너비를 20px만큼 설정합니다.
    */
    height: 20px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 장바구니 숫자카운트 영역의 높이를 20px만큼 설정합니다.
    */
    border-radius: 50%;
    /* 
        문법의미: 해당 태그의 테두리 영역의 굴곡을 설정합니다.
        사용이유/목적/결과: 장바구니 숫자카운트 영역의 테두리의 굴곡을 50%만큼 굴곡지게 만들어서 원형의 형태로 표현되도록 설정합니다.
    */
    background-color: #002053;
    /* 
        문법의미: 해당 태그의 배경의 색상을 지정한다.
        사용이유/목적/결과: 장바구니 숫자카운트 영역의 배경색값을 변경하여 표현합니다.
    */
    color: #fff;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 장바구니 숫자카운트 영역의 글자색상을 #fff으로 변경하여
                        배경색과 상반되게 하야 입력된 숫자가 잘보이도록 합니다.
    */
    text-align: center;
    /* 
        문법의미: 해당 영역의 텍스트 위치를 설정한다.
        사용이유/목적/결과: 장바구니 숫자카운트 지정된 너비 영역의 중간에 텍스트가 위치하도록 하여
                        입력된 텍스트가 잘 보일 수 있도록 변경합니다.
    */
    font-size: 10px;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 사이즈를 설정합니다.
        사용이유/목적/결과: 장바구니 숫자카운트 영역의 글자 사이즈가 10px으로 설정하여 해당 영역안에서 표현이 제대로 될 수 있도록 사이즈를 조정합니다.
    */
    line-height: 20px;
    /* 
        문법의미: 줄간격 높이값 설정한다.
        사용이유/목적/결과: 높이값을 설정하였어도 글자의 줄간격을 별도로 설정하지 않으면 글자가 해당 영역의 가운데에 표현이 안되고 상단쪽에 표현이 됩니다.
                        그래서 상단영역이 아닌 글자가 높이의 중간영역에 정확하게 표현이 될 수 있도록 하기위해 줄간격을 높이와 동일하게 설정하여
                        가운데에 텍스타가 표현이 될 수 있도록 합니다.
    */
}

/* 본문 공통 */
#container {
    display: flex;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: flex를 사용함으로 내용의 태그들을 한방향을 기준으로 정렬되어 표현이 되도록 정렬한다.
                        기본적으로 가로로 나열되도록 하며 방향은 왼쪽에서 오른쪽방향으로 정렬이 되도록 설정한다.
    */
    flex-direction: column;
    /* 
        문법의미: display:flex 로 지정하였을때 사용하는 것으로 flex의 방향을 설정합니다. 기본적으론 가로방향(row)형태로 지정이 되어 있습니다.
        사용이유/목적/결과: flex으로 방향이 기본적으론 가로방향(row)인 것을 세로방향으로 되도록 설정합니다.
    */
    gap: 160px;
    /* 
        문법의미: display:flex된 내용간의 간격 사이즈를 설정한다.
        사용이유/목적/결과: id로 containder 지정된 영역안에서 구분되어진 영역들의 사이간격이 160px만큼 벌어지도록 설정합니다.
    */
    margin-bottom: 160px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 아랫쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 본문영역 아래쪽 바깥영역에 160px만큼 여백을 생성합니다.
    */
}
.titleText {
    margin-bottom: 40px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 아랫쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 본문영역안의 각 구역별 상단타이틀 영역 아래의 여백을 40px만큼 생성합니다.
    */
    font-size: 36px;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 사이즈를 설정합니다.
        사용이유/목적/결과: 본문영역안의 각 구역별 상단 제목영역의 글자 사이즈를 36px만큼 설정합니다.
    */
    text-align: center;
    /* 
        문법의미: 해당 영역의 텍스트 위치를 설정한다.
        사용이유/목적/결과: 본문영역안에서 각 구역별 상단 제목영역의 위치가 중간에 위치할 수 있도록 설정합니다. 
    */
}
.btnMore {
    width: 120px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 본문영역 속 더보기 영역의 너비가 120px으로 되도록 설정합니다.
    */
    margin: 0 auto;
    /* 
        문법의미: 태그의 테두리 바깥 여백 사이즈를 설정합니다.
        사용이유/목적/결과: margin 영역 설정에 대해 (위/아래) (가로세로) 영역의 값을 지정하는 형태로
                        더보기 영역에 대해서 속해있는 영역의 중간에 위치할 수 있도록 하기 위해
                        양옆의 여백의 사이즈가 동일하게 주어지도록 설정합니다.
    */
}
.btnMore a {
    display: block;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: a태그의 경우 inline영역 성질을 가지고 있어 해당 영역의 사이즈를 정할 수 없습니다.
                        그래서 block/inline-block 으로 변경을 하여 사이즈 변경을 적용할 수 있으므로 표현방식을 따로 변경하여 적용합니다.
    */
    border: 1px solid #ddd;
    /* 
        문법의미: 테두리의 내용을 설정합니다.
        사용이유/목적/결과: 더보기 영역의 테두리가 1px두께, #fff색상, 직선형태가 되도록 설정합니다.
    */
    border-radius: 20px;
    /* 
        문법의미: 해당 태그의 테두리 영역의 굴곡을 설정합니다.
        사용이유/목적/결과: 더보기 영역의 테두리 굴곡의 반지름이 20px만큼 적용이 되도록 설정합니다.
    */
    line-height: 38px;
    /* 
        문법의미: 줄간격 높이값 설정한다.
        사용이유/목적/결과: 더보기 영역의 글자 줄간격이 30px만큼 되도록 설정하면서 영역의 가운데에 글자가 위치하도록 설정합니다.
    */
    color: #121212;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 더보기 영역의 글자가 #121212 으로 검은색글자가 되도록 설정합니다.
    */
    text-align: center;
    /* 
        문법의미: 해당 영역의 텍스트 위치를 설정한다.
        사용이유/목적/결과: 더보기 영역의 글자 위치가 기본값으로 지정된 왼쪽이 아닌 중앙에 위치할 수 있도록 설정합니다.
    */
}

/* 본문1 */
.mainHero {
    position: relative;
    /* 
        문법의미: 하위태그들 가운데 position을 사용하는 태그들의 위치기준이 되도록 설정한다.
        사용이유/목적/결과: 첫번째 본문영역에 대해서 기준이 되도록 첫번째 본문내용들의 기준을 설정합니다.
    */
}
.mainHero .slide {
    position: relative;
    /* 
        문법의미: 하위태그들 가운데 position을 사용하는 태그들의 위치기준이 되도록 설정한다.
        사용이유/목적/결과: slide클래스 하위 태그들의 위치 기준이 되도록 설정합니다.
    */
    overflow: hidden;
    /* 
        문법의미: 해당 영역의 위치기준으로 속해있는 내용들의 영역들의 표현에 대해서 설정합니다.
        사용이유/목적/결과: slide클래스 영역 속에 작성된 태그들에 대해서 해당 영역의 사이즈보다 클 경우 보이지않도록 hidden처리를 합니다.
    */
}
.mainHero .slideImg {
    width: 1440px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 첫번째 본문영역에 있는 이미지의 가로길이를 1440px만큼 설정합니다.
    */
    margin-left: auto;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 왼쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 왼쪽 바깥 영역의 여백사이즈를 auto로 설정합니다.
                        아래에 작성된 오른쪽 여백 사이즈 auto와 같이 결합이 되어 좌우 여백이 동일하게 적용이 되도록 합니다.
                        화면의 중앙에 해당 이미지가 위치할 수 있도록 합니다.
    */
    margin-right: auto;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 오른쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 오른쪽 바깥 영역의 여백사이즈를 auto로 설정합니다.
                        위에 작성된 왼쪽 여백 사이즈 auto와 같이 결합이 되어 좌우 여백이 동일하게 적용이 되도록 합니다.
                        화면의 중앙에 해당 이미지가 위치할 수 있도록 합니다.
    */
}
.mainHero .slideImg img {
    margin-left: -240px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 왼쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 이미지가 왼쪽 상단을 기준으로 이미지의 사이즈만큼 표현이 되는 부분입니다.
                        화면의 안전사이즈 : 1440px
                        이미지의 사이즈 : 1920px
                        중앙을 기준으로 하였을때 각각 720px / 960px 으로 차이가 나는 240px만큼 왼쪽으로 이동하게 하여 
                        화면 사이즈가 달라지더라도 중앙에 보여지는 이미지는 동일하게 표현이 될 수 있도록 설정합니다.
    */
}
.mainHero .slideText {
    position: absolute;
    bottom: 169px;
    left: 50%;
    margin-left: -720px;
    /* 
        문법의미: 기준으로 설정한 상위태그(position:relative) 영역기준으로 특정 좌표를 지정하여 위치를 적용한다.
        사용이유/목적/결과: 이미지 위에 글자가 표현이 될 수 있도록 하기 위해서 절대위치를 표현하기위해 absolute 형태로 지정합니다.
                        하단위치 기준으로 169px만큼 위쪽에 표현을 하기위해 bottom:169px 값을 적용합니다.
                        그리고 해당 글자가 왼쪽을 기준으로 적용을 하는데 
                        화면의 사이즈가 변경이 되더라도 동일한 위치에 표현을 할 수 있도록 상대적인 위치 left:50%을 우선 지정합니다.
                        그리고 해당 글자가 이미지의 왼쪽을 기준으로 표현이 되는데 
                        안전사이즈 영역을 기준으로 왼쪽에 표현이 되도록 하기 위하여 
                        안전사이즈:1440px을 기준으로 절반인 720px만큼 왼쪽으로 이동시켜 표현을 합니다.
                        그래서 margin-left:-720px을 적용하여 해당 슬라이즈의 글자의 표현위치를 지정합니다.
    */
}
.mainHero .slideText .slideTitle {
    margin-bottom: 8px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 아랫쪽영역 사이즈 변경한다.
        사용이유/목적/결과: slideTitle클래스 아래쪽 바깥 여백이 8px만큼 차이가 날 수 있도록 설정합니다.
    */
    font-size: 48px;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 사이즈를 설정합니다.
        사용이유/목적/결과: 슬라이드의 제목영역의 글자 사이즈가 48px이 되도록 설정합니다.
    */
    font-weight: 700;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 굵기를 설정합니다.
        사용이유/목적/결과: 슬라이드의 제목 영역 글자를 굵게 하기위해서 700만큼 적용하여 굵게 표현합니다.
    */
    color: #fff;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 슬라이드타이틀의 글자 색상이 #fff으로 되도록 설정합니다.
    */
}
.mainHero .slideText a {
    display: inline-block;
    /*
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: a태그의 경우 기본display 속성은 inline으로 가로/세로 영역의 길이 설정이 안되는 부분입니다.
                        그래서 inline의 속성을 그대로 가지면서 영역설정을 하기위해
                        inline-block으로 속성값을 변경합니다.
    */
    padding: 0 40px;
    /* 
        문법의미: 해당 태그 영역의 안쪽들여쓰기공간 영역 사이즈 설정.
        사용이유/목적/결과: padding 위/아래 왼쪽/오른쪽 영역의 사이즈를 지정하는 방식을 사용하였습니다.
                        위 아래로는 해당 자세히보기영역의 테두리기준 안쪽여백이 생기지 않도록 0px,
                        좌 우로는 자세히보기영역 테두리기준 안쪽 여백이 40px만큼 생성하여 중앙위치로 글자가 위치할 수 있도록 설정합니다.
    */
    border: 1px solid #fff;
    /* 
        문법의미: 테두리의 내용을 설정합니다.
        사용이유/목적/결과: a테그인 자세히보기의 테두리를 설정합니다.
                        1px의 두께로, solid(직선형태), #fff(하얀색) 의 형태로 테두리가 보이도록 설정합니다.
    */
    border-radius: 25px;
    /* 
        문법의미: 해당 태그의 테두리 영역의 굴곡을 설정합니다.
        사용이유/목적/결과: 자세히보기의 영역의 테두리가 25px의 반지름을 가진 원이 있는 형태로 모퉁이가 굴곡지도록 설정합니다.
    */
    font-size: 16px;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 사이즈를 설정합니다.
        사용이유/목적/결과: 자세히보기 글자의 사이즈가 16px이 되도록 설정합니다.
    */
    color: #fff;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 자세히보기 글자의 색상이 #fff으로 되도록 설정합니다.
    */
    line-height: 48px;
    /* 
        문법의미: 줄간격 높이값 설정한다.
        사용이유/목적/결과: 자세히보기 글자의 줄간격이 48px만큼 되도록 설정하면서, 글자 영역의 높이도 최소 48px만큼 되도록 설정합니다.
    */
}
.mainHero .mainSlideController {
    position: absolute;
    left: 50%;
    bottom: 80px;
    margin-left: -720px;
    /* 
        문법의미: 기준으로 설정한 상위태그(position:relative) 영역기준으로 특정 좌표를 지정하여 위치를 적용한다.
        사용이유/목적/결과: slideController의 태그 위치가 첫번째 메인영역을 기준으로 고정적인위치에 위치할 수 있도록 합니다.
                        첫번째 본문영역 기준으로 아랫쪽으로부터 80px만큼 띄워진 위치에 위치하도록 합니다.
                        왼쪽기준 50%만큼 상대위치를 지정합니다.
                        그리고 안전영역사이즈가 1440px으로 그 절반인 720px만큼 왼쪽으로 이동하도록 하여 화면의 사이즈가 변경이 되더라도 
                        mainSlideController영역의 위치가 바뀌지않도록 설정합니다.
    */
    display: flex;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: flex를 사용함으로 내용의 태그들을 한방향을 기준으로 정렬되어 표현이 되도록 정렬한다.
                        기본적으로 가로로 나열되도록 하며 방향은 왼쪽에서 오른쪽방향으로 정렬이 되도록 설정한다.
    */
    width: 1440px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: slideController의 영역 사이즈가 1440px이 되도록 설정합니다.
    */
}
.mainHero .mainPager {
    flex: 1;
    /* 
        문법의미: flex 내용에 대해서 flex 아이템 크기를 사용하는 부분에 대해 설정하는 내용입니다.
        사용이유/목적/결과: flex:1의 값을 설정함으로써 
                        현재 해당 메인페이지 화면들 내용들에 대해서 다른 아이템들의 영역을 제외한 나머지 영역을
                        메인페이지의 영역으로 설정하는 것을 의미합니다.
    */
    /* 
        플랙스 아이템의 너비값을 플랙시블(유연한)하게 만들어줌. 

        현재 오른쪽에 배치된 이전/다음버튼의 너비값과 버튼 사이의 간격값이 px로 정해진 값이 있음. 
        flex: 1 값을 적용하게되면 부모태그의 너비값에서 오른쪽의 고정값을 제외한 나머지를 자신의 너비값으로 사용하도록 만들 수 있음.
    */
    margin-right: 23px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 오른쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 메인페이저 영역의 오른쪽 바깥 여백 영역을 23px만큼 설정합니다.
    */
}
.mainHero .mainPager ul {
    display: flex;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: flex를 사용함으로 내용의 태그들을 한방향을 기준으로 정렬되어 표현이 되도록 정렬한다.
                        기본적으로 가로로 나열되도록 하며 방향은 왼쪽에서 오른쪽방향으로 정렬이 되도록 설정한다.
                        메인페이저 영역안에 ul 목록 리스트로 나열된 내용들에 대해서 
                        가로로 정렬되어 표현이 되도록 설정합니다.
    */
}
.mainHero .mainPager li {
    width: 16.66%;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 메인페이저 목록 내용들의 가로 너비를 16.66%만큼 할당되도록 설정합니다.
    */
    opacity: 0.2;
    /* 
        문법의미: 해당 영역의 투명도를 설정합니다.
        사용이유/목적/결과: 글자 및 배경 등 해당 페이저 목록 내용 표현이 20%만큼 표현되도록 설정합니다.
                        기본값은 100% 표현이나 해당 속성을 사용함으로써 연하게 표현되도록 합니다.
    */
}
.mainHero .mainPager .active {
    opacity: 0.8;
    /* 
        문법의미: 해당 영역의 투명도를 설정합니다.
        사용이유/목적/결과: 메인페이저 목록 내용들에 대해서 active로 선택이 된 내용에 대해서는 조금 더 진하게 표현이 되도록 하기 위해
                        80%의 색상이 표현되도록 설정합니다.

    */
}
.mainHero .mainPager li button {
    width: 100%;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 메인페이저 목록의 내용이 선택이 되는 내용이여서 button형태로 태그를 잡아두었으며, 
                        해당 영역의 너비가 상위 li목록 의 너비를 100%만큼 표현이될 수 있도록 설정합니다.
    */
    height: 40px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 버튼의 높이가 40px만큼 되도록 설정합니다.
    */
}
.mainHero .mainPager li button span {
    display: block;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: span태그는 inline태그로 되어있어서 너비/높이 값을 설정할 수 없어 
                        너비/높이 값을 설정하기 위해 표현방법을 block으로 설정하여
                        값 설정할 수 있도록 합니다.
    */
    width: 100%;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 너비값이 상위태그인 button의 너비값의 전부할당되도록 100%로 설정합니다.
    */
    height: 2px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 메인페이저 목록의 텍스트 영역의 높이값을 2px만큼 할당합니다.
    */
    background-color: #fff;
    /* 
        문법의미: 해당 태그의 배경의 색상을 지정한다.
        사용이유/목적/결과: 메인페이저 텍스트영역의 배경 색을 #fff으로 하얗게 표현되도록 합니다.
    */
    text-indent: -999999px;
    /* 
        문법의미: 해당 영역안의 텍스트의 표현 위치를 변경합니다.
        사용이유/목적/결과: 메인페이저의 목록에 적힌 텍스트가 표현이 되지않도록 화면밖에서 표현되도록
                        -99999px만큼 들여쓰기로 이동시킵니다.
    */
}
.mainHero .btnPrev {
    width: 40px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 이전으로 버튼의 영역 가로길이가 40px가 되도록 설정합니다.
    */
    margin-right: 2px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 오른쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 이전으로의 버튼과 다음으로의 버튼 중간에 공간이 2px만큼 공간이 띄워지도록
                        이전으로버튼의 영역 바깥 오른쪽 여백 2px만큼 띄워지도록 설정합니다.
    */
}
.mainHero .btnNext {
    width: 40px;
    /* 
        문법의미: 영역의 너비값을 설정.
        사용이유/목적/결과: 다음으로 버튼의 가로너비을 40px만큼 설정합니다.
    */
}
.mainHero .btnPrev button,
.mainHero .btnNext button {
    width: 40px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 이전으로, 다음으로 버튼영역의 가로길이 사이즈를 40px으로 설정합니다.
    */
    height: 40px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 이전으로, 다음으로 버튼영역의 세로길이 사이즈를 40px으로 설정합니다.
    */
    text-indent: -999999px;
    /* 
        문법의미: 해당 영역안의 텍스트의 표현 위치를 변경합니다.
        사용이유/목적/결과: 이전으로, 다음으로 버튼 영역의 텍스트 글자가 안보일 수 있도록 화면영역밖으로 이동시킵니다.
                        -99999px만큼 이동시켜 표현 안되도록 합니다.
    */
}
.mainHero .btnPrev button {
    background-image: url(../img/btn_prev_wh_40x40.png);
    /* 
        문법의미: 해당 태그영역의 배경이미지를 설정합니다.
        사용이유/목적/결과: 이전으로 버튼의 배경이미지를 img폴더안에 있는 이전버튼을 배경이미지로 사용하여 설정합니다.
    */
}
.mainHero .btnNext button {
    background-image: url(../img/btn_next_wh_40x40.png);
    /* 
        문법의미: 해당 태그영역의 배경이미지를 설정합니다.
        사용이유/목적/결과: 다음으로 버튼의 배경이미지를 img폴더 안에 있는 다음으로 버튼이미지를 배경이미지로 설정합니다.
    */
}

/* 본문2-지금 많이 찾는 상품 */
.itemListWrap {
    width: 1440px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 지금 많이 찾는 상품, 본문2번째 영역의 안전영역 사이즈를 설정합니다.
    */
    margin: 0 auto;
    /* 
        문법의미: 태그의 테두리 바깥 여백 사이즈를 설정합니다.
        사용이유/목적/결과: margin 영역 설정에 대해 (위/아래) (가로세로) 영역의 값을 지정하는 형태로
                        본문영역 중 지금 맟이 찾는 상품의 영역에 대해 화면 중간에 위치할 수 있도록 하기 위해
                        양옆의 여백의 사이즈가 동일하게 주어지도록 설정합니다.
                        2번째 메인영역의 안전영역외의 좌우 여백공간을 동일한 사이즈로 설정합니다.
    */
}
.main2 .titleText {
    margin-bottom: 20px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 아랫쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 지금 많이 찾는 상품 타이틀 영역의 하단바깥여백 20px만큼 설정합니다.
    */
}
.main2 .hashTabBtn {
    margin-bottom: 40px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 아랫쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 본문2번째 영역에서 해쉬태그 영역의 하단 바깥 여백의 사이즈를 40px만큼 설정합니다.
    */
}
.main2 .hashTabBtn ul {
    display: flex;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: flex를 사용함으로 내용의 태그들을 한방향을 기준으로 정렬되어 표현이 되도록 정렬한다.
                        기본적으로 가로로 나열되도록 하며 방향은 왼쪽에서 오른쪽방향으로 정렬이 되도록 설정한다.
                        해쉬태그 영역의 목록 내용이 가로로 정렬되어 표현되도록 설정합니다.
    */
    justify-content: center;
    /* 
        문법의미: display:flex 형식과 같이 사용되는 내용으로 flex방향으로 내용 표현 방법 변경한다.
        사용이유/목적/결과: 해쉬태그 영역의 위치가 해쉬태그 상위 영역 기준으로 가운데 위치할 수 있도록 설정합니다.
    */
    gap: 20px;
    /* 
        문법의미: display:flex된 내용간의 간격 사이즈를 설정한다.
        사용이유/목적/결과: 해쉬태그 영역에 표현되는 아이템 리스트들의 각각의 여백이 20px만큼 차이가 나오도록 설정합니다.
    */
}
.main2 .hashTabBtn button {
    /* 
        버튼태그의 박스모델은 box-sizing: border-box로 지정되어있음.
    */
    height: 37px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 지금 많이 찾은 상품의 해쉬태그 목록의 높이 사이즈를 37px으로 설정합니다.
    */
    padding-bottom: 10px;
    /* 
        문법의미: 해당 태그 영역의 안쪽들여쓰기공간 영역 사이즈 설정.
        사용이유/목적/결과: 해쉬태그 목록의 테두리 안쪽 아래쪽 여백 사이즈를 10px만큼 설정합니다.
    */
    font-size: 18px;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 사이즈를 설정합니다.
        사용이유/목적/결과: 해쉬태그 목록 글자사이즈를 10px으로 설정합니다.
    */
    color: #666;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 해쉬태그 목록 색상을 #666 색상으로 설정합니다.
    */
}
.main2 .hashTabBtn .active button {
    color: #121212;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 해쉬태그 목록 중에서 active 클래스를 가지고 있는 태그의 글자색상을 #121212 으로 설정합니다.
    */
    border-bottom: 2px solid #121212;
    /* 
        문법의미: 테두리영역중 아랫쪽내용에 대해서 내용을 설정합니다.
        사용이유/목적/결과: active클래스으로 되어 있는 해쉬태그의 내용에 대해서 테두리 아랫쪽에 2px의 밑줄이 표현되도록 설정합니다.
    */
}
.itemList ul {
    display: flex;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: flex를 사용함으로 내용의 태그들을 한방향을 기준으로 정렬되어 표현이 되도록 정렬한다.
                        기본적으로 가로로 나열되도록 하며 방향은 왼쪽에서 오른쪽방향으로 정렬이 되도록 설정한다.
                        아이템 목록 리스트가 가로로 정렬되어 표현되도록 설정합니다.
    */
    justify-content: space-between;
    /* 
        문법의미: display:flex 형식과 같이 사용되는 내용으로 flex방향으로 내용 표현 방법 변경한다.
        사용이유/목적/결과: space-between을 사용함으로 영역안에 있는 내용을 양쪽끝을 기준으로
                        영역안에 있는 내용들을 동일한 간격으로 배치하도록 변경한다.
                        아이템 목록리스트의 내용들이 아이템목록 내용을 동일한 간격으로 표현이 되도록 설정합니다.
    */
}
.itemList li {
    position: relative;
    /* 
        문법의미: 하위태그들 가운데 position을 사용하는 태그들의 위치기준이 되도록 설정한다.
        사용이유/목적/결과: 목록리스트의 안에서 a태그와 p태그 설정에 있어 위치 기준이 될 수 있도록 설정합니다.
    */
    width: 345px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 목록리스트의 가로너비 사이즈를 345px로 설정합니다.
    */
}
.itemList li .photo {
    margin-bottom: 12px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 아랫쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 목록리스트의 사진영역 그 영역 테두리 아랫쪽 여백을 12px만큼 설정합니다.
    */
}
.itemList li img {
    width: 100%;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과:목록리스트의 각 아이템을 보여주는 이미지의 사이즈를 해당 사이진이미지 영역의 너비 100%을 가져와서 표현한다.
                        사진이미지의 영역인 .itemList li 의 너비인 345px의 너비를 상속받아 표현한다.
    */
    height: auto;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 목록리스트의 이미지 높이는 해당 너비사이즈에 맞는 사이즈의 비율따라 맞춰서 표현이 되도록 설정한다.
    */
}
.itemList li .category {
    margin-bottom: 4px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 아랫쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 목록리스트의 제품의 분류체계에 해당하는 영역 테두리 바깥 하단여백 4px만큼 설정합니다.
    */
    color: #121212;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 목록리스트 제품분류 영역의 글자 색상을 #121212으로 설정합니다.
    */
}
.itemList li .name {
    margin-bottom: 20px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 아랫쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 품목리스트의 제품명 영역의 테두리 바깥 영역 아랫쪽 여백 20px만큼 설정합니다.
    */
    font-size: 18px;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 사이즈를 설정합니다.
        사용이유/목적/결과: 품목리스트의 제품명 영역의 텍스트 글자사이즈를 18px으로 설정합니다.
    */
    color: #121212;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 품목리스트의 제품명 영역의 글자 색상을 #121212으로 설정합니다.
    */
}
.itemList li .price {
    font-size: 16px;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 사이즈를 설정합니다.
        사용이유/목적/결과: 품목리스트 가격영역의 글자 사이즈를 16px으로 설정합니다.
    */
    color: #121212;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 품목리스트 가격영역의 글자 색상을 #121212으로 설정합니다.
    */
}
.itemList li .favo {
    position: absolute;
    top: 0;
    right: 0;
    /* 
        문법의미: 기준으로 설정한 상위태그(position:relative) 영역기준으로 특정 좌표를 지정하여 위치를 적용한다.
        사용이유/목적/결과: 품목리스트 영역의 찜 버튼 영역의 위치를 상단기준 0px, 오른쪽 기준 0px 으로 위치하도록 설정합니다.
                        .itemList .li 에 position:relative 으로 설정이 되어 있으므로 
                        해당 클래스 영역 기준으로 설정이 됩니다.
    */
}
.itemList li .favo button {
    width: 52px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 품목리스트 찜 버튼의 영역 가로길이를 52px으로 설정합니다.
    */
    height: 52px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 품목리스트 찜 버튼의 영역 세로길이를 52Px으로 설정합니다.
    */
    background-image: url(../img/ico-heart-gr-52x52.png);
    /* 
        문법의미: 해당 태그영역의 배경이미지를 설정합니다.
        사용이유/목적/결과: 품목리스트 찜버튼의 배경이미지를 img폴더안에 있는 하트이미지로 설정합니다.
    */
    text-indent: -99999px;
    /* 
        문법의미: 해당 영역안의 텍스트의 표현 위치를 변경합니다.
        사용이유/목적/결과: 품목리스트 찜버튼에 텍스트 작성된 "찜" 글자를 화면 밖으로 이동시켜 보이지않도록
                        -99999px만큼 이동시킨 위치로 이동시킵니다.
    */
}

/* 본문3-기획전 */
.special {
    width: 1440px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 기획전 영역(본문 세번째 영역)에 대해서 안전사이즈 영역 1440px를 설정합니다.
    */
    margin: 0 auto;
    /* 
        문법의미: 태그의 테두리 바깥 여백 사이즈를 설정합니다.
        사용이유/목적/결과: margin 영역 설정에 대해 (위/아래) (가로세로) 영역의 값을 지정하는 형태로
                        기획전 영역에 대해서 화면의 중간에 위치할 수 있도록 하기 위해
                        양옆의 여백의 사이즈가 동일하게 주어지도록 설정합니다.
    */
}
.specialList ul {
    display: flex;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: flex를 사용함으로 내용의 태그들을 한방향을 기준으로 정렬되어 표현이 되도록 정렬한다.
                        기본적으로 가로로 나열되도록 하며 방향은 왼쪽에서 오른쪽방향으로 정렬이 되도록 설정한다.
                        기획전 리스트의 목록내용을 가로로 정렬되어 표현되도록 설정합니다.

    */
    justify-content: space-between;
    /* 
        문법의미: display:flex 형식과 같이 사용되는 내용으로 flex방향으로 내용 표현 방법 변경한다.
        사용이유/목적/결과: space-between을 사용함으로 영역안에 있는 내용을 양쪽끝을 기준으로
                        영역안에 있는 내용들을 동일한 간격으로 배치하도록 변경한다.
                        기획전 목록의 리스트들이 안전영역 안에서 동일한 간격을 가진 상태로 나열되어 표현되도록 설정합니다.
    */
}
.specialList li {
    width: 464px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 기획전 각 목록리스트들의 가로 너비사이즈를 464px으로 설정합니다.
    */
    text-align: center;
    /* 
        문법의미: 해당 영역의 텍스트 위치를 설정한다.
        사용이유/목적/결과: 기획전 항목리스트의 텍스트 정렬에 대해서 가운데 정렬이 되도록 설정합니다.
    */
}
.specialList .photo {
    margin-bottom: 32px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 아랫쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 기획전 목록리스트의 사진 영역의 테두리 바깥 아랫쪽 영역의 32px만큼 벌어지도록 설정합니다.
    */
}
.specialList .photo img {
    width: 100%;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 기획전 목록의 사진이미지의 이미지의 너비가 상위태그들의 너비를 받아서 설정하도록 설정합니다.
                        상위태그의 이미지중 너비사이즈가 설정된 464px의 사이즈로 설정합니다.
    */
    height: auto;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 이미지의 비율따라서 너비가 설정된 사이즈에 따라 높이가 자동적으로 계산되어 표현될 수 있도록 합니다.
    */
}
.specialList .title {
    margin-bottom: 8px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 아랫쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 기획전 영역에서 제목영역으로 지정된 내용의 테두리 바깥 아랫족 여백이 8px만큼 벌어질 수 있도록 설정합니다.
    */
    font-size: 18px;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 사이즈를 설정합니다.
        사용이유/목적/결과: 기획전 영역의 제목영역 글자 사이즈 10px으로 설정합니다.
    */
    font-weight: 700;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 굵기를 설정합니다.
        사용이유/목적/결과: 기획전 영역중 제목영역의 글자 굵기가 굵게 표현되도록 설정합니다.
    */
    color: #121212;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 기획전 영역 제목 영역의 글자 색상이 #121212 으로 설정을 합니다.
    */
}
.specialList .descript {
    margin-bottom: 24px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 아랫쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 기획전 목록 리스트의 설명 내용에 대해서 테두리 바깥 아랫쪽 영역의 여백을 24px만큼 설정합니다.
    */
    font-size: 16px;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 사이즈를 설정합니다.
        사용이유/목적/결과: 기획전 목록리스트의 설명 내용에 대해서 작성된 텍스트, 글자 사이즈를 16px으로 설정합니다.
    */
    color: #888;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 기획전 목록리스트의 섦명내용의 글자의 색상을 #888으로 설정합니다.
    */
}
.specialList .btn {
    width: 158px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 기획전 목록리스트의 버튼 영역 너비 사이즈를 158px만큼 설정합니다.
                        총 160px사이즈의 버튼을 설정하나 테두리영역의 사이즈를 제외하고 설정하기 위해서 (160-2)px으로 설정합니다.
    */
    margin: 0 auto;
    /* 
        문법의미: 태그의 테두리 바깥 여백 사이즈를 설정합니다.
        사용이유/목적/결과: margin 영역 설정에 대해 (위/아래) (가로세로) 영역의 값을 지정하는 형태로
                        기획전 영역에 있는 더보기버튼이 기획전 영역 가운데에 위치할 수 있도록 하기 위해
                        양옆의 여백의 사이즈가 동일하게 주어지도록 설정합니다.
                        자세히 보기 버튼의 위치가 좌우 중앙에 위치할 수 있도록 하기위해서 설정한 내용입니다.
    */
    border: 1px solid #ddd;
    /* 
        문법의미: 테두리의 내용을 설정합니다.
        사용이유/목적/결과: 기획전 목록의 자세히보기 목록의 버튼 테두리를
                        1px사이즈로 solid(직선) 으로 #ddd의 색상으로 생겨지도록 설정합니다.
    */
    border-radius: 20px;
    /* 
        문법의미: 해당 태그의 테두리 영역의 굴곡을 설정합니다.
        사용이유/목적/결과: 기획전 목록리스트의 자세히보기 버튼의 테두리 굴곡을 반지름20px정도의 원이 있는 굴곡형태로 굽어지도록 설정합니다.
    */
    color: #121212;
    /* 
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 기획전 목록리스트의 자세히보기 버튼의 글자 색상이 #121212으로 설정합니다.
    */
    line-height: 38px;
    /* 
        문법의미: 줄간격 높이값 설정한다.
        사용이유/목적/결과: 기획전 목록리스트의 자세히보기 버튼의 줄간격이 38px이 되도록 설정합니다.
    */
}
/* 본문7-인스타 */
.mainSns {
    width: 1440px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 본문 7번째 영역의 인스타 내용의 영역의 너비사이즈를 1440px이 되도록 설정합니다.
    */
    margin: 0 auto;
    /* 
        문법의미: 태그의 테두리 바깥 여백 사이즈를 설정합니다.
        사용이유/목적/결과: margin 영역 설정에 대해 (위/아래) (가로세로) 영역의 값을 지정하는 형태로
                        인스타 내용의 영역이 화면의 중간에 위치할 수 있도록 하기 위해
                        양옆의 여백의 사이즈가 동일하게 주어지도록 설정합니다.

    */
}
.mainSnsTop {
    display: flex;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: flex를 사용함으로 내용의 태그들을 한방향을 기준으로 정렬되어 표현이 되도록 정렬한다.
                        기본적으로 가로로 나열되도록 하며 방향은 왼쪽에서 오른쪽방향으로 정렬이 되도록 설정한다.
                        인스타그램 영역의 상위 영역의 내용들이 가로로 정렬되어 나오도록 설정합니다.

    */
    justify-content: space-between;
    /* 
        문법의미: display:flex 형식과 같이 사용되는 내용으로 flex방향으로 내용 표현 방법 변경한다.
        사용이유/목적/결과: space-between을 사용함으로 영역안에 있는 내용을 양쪽끝을 기준으로
                        영역안에 있는 내용들을 동일한 간격으로 배치하도록 변경한다.
                        상위 영역의 가로 영역에서 양끝기준으로 동일한 간격이 되도록 설정합니다.
                        아이콘영역과 아이디 두개 영역이므로 양쪽끝으로 배치가 됩니다.

    */
    align-items: center;
    /* 
        문법의미: display:flex 형식의 진행방향과 수직이 되는 방향으로 내용 표현 위치를 변경한다.
        사용이유/목적/결과: 인스타 상위 영역의 위치가 가로로 정렬되는 부분이나 align-items쪽은 세로 방향으로 위치정렬인 부분입니다.
                        그래서 세로 방향으로 가운데 위치에 위치하도록 설정합니다.
    */
    margin-bottom: 28px;
    /* 
        문법의미: 테두리 기준으로 바깥쪽 영역중 아랫쪽영역 사이즈 변경한다.
        사용이유/목적/결과: 인스타영역의 상위글자영역에 대해서 테두리 하단여백으로 28px만큼 벌어질 수 있도록 설정합니다.
    */
}
.mainSnsTop .insIcon {
    width: 32px;
    /* 
        문법의미: 영역의 너비값을 설정한다.
        사용이유/목적/결과: 인스타영역에서 상위영역에 있는 아이콘영역의 너비사이즈가 37px만큼 되도록 설정합니다.
    */
    height: 32px;
    /* 
        문법의미: 해당 태그의 높이값을 설정한다.
        사용이유/목적/결과: 인스타영역의 상위영역에 있는 아이콘 영역의 높이가 32px만큼 되도록 설정합니다.
    */
    background-image: url(../img/ico-instar-32x32.png);
    /* 
        문법의미: 해당 태그영역의 배경이미지를 설정합니다.
        사용이유/목적/결과: 인스타상위영역의 아이콘 영역의 배경이미지가 img폴더안에 있는 인스타이미지를 가져와서 표현되도록 설정합니다.
    */
    text-indent: -99999px;
    /*
        문법의미: 해당 영역안의 텍스트의 표현 위치를 변경합니다.
        사용이유/목적/결과: 인스타 상위 영역에 있는 인스타그램 글자에 대해서 화면에 표현이 안될 수 있도록
                        -99999px의 위치로 이동시킵니다.
    */
}
.mainSnsTop .insAccount a {
    font-size: 28px;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 사이즈를 설정합니다.
        사용이유/목적/결과: 인스타그램영역의 인스타계정영역 a태그 글자 사이즈를 28px으로 설정합니다.
    */
    font-weight: 700;
    /* 
        문법의미: 해당 태그의 영역에 작성된 글자의 굵기를 설정합니다.
        사용이유/목적/결과: 인스타그램영역 중 인스타계정의 글자 굵기를 굵게 표현합니다.
    */
    color: #121212;
    /*
        문법의미: 글자의 색상을 변경한다.
        사용이유/목적/결과: 인스타그램영역 인스타계정 글자 색상을 #121212으로 설정합니다.
    */
}
.mainSnsList ul {
    display: flex;
    /* 
        문법의미: 해당영역의 화면표현 형식을 변경한다.
        사용이유/목적/결과: 인스타그램영역의 인스타 목록리스트가 가로로 정렬되러 나열되도록 설정합니다.
    */
    flex-wrap: wrap;
    /* 
        문법의미: display:flex의 속성과 같이 사용되는 문법으로 속한 영역에서 표현되는 내용들의 사이즈가 상위태그의 영역사이즈보다 큰 경우에 대해
                계속 포함하여 표현을 할지 등의 내용을 설정합니다.
        사용이유/목적/결과: wrap 속성을 사용하여 너비영역보다 넒은 내용이 표현이 되는 경우에 대해서 다음줄로 이동시켜 표현이 계속될 수 있도록 설정합니다.
    */
    gap: 10px;
    /* 
        문법의미: display:flex된 내용간의 간격 사이즈를 설정한다.
        사용이유/목적/결과: 인스타 목록리스트의 내용들에 대해서 간격이 가로/세로 영역 전부 10px만큼 간격이 띄워지도록 설정합니다.
    */
}
